<!DOCTYPE html>
<html>
  <head>

    <title>{% if page.title %}{{ page.title }} – {% endif %}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- OLD CSS
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    -->
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/all.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

    <!-- Alex inputs-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css' />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript">window.jQuery || document.write('<script src="js/jquery-1.8.3.min.js"><\/script>')</script>
    <script type="text/javascript" src="js/jquery.main.js"></script>
    <script type="text/javascript" src="js/linktracker.js"></script>
    <!--[if IE]><script type="text/javascript" src="js/ie.js"></script><![endif]-->
    <script type="text/javascript"  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDqz50n44tBwzbHJLo94030M_tuSbty8m0&sensor=false">
    </script>
    <script type="text/javascript">
      function initialize() {
      var mapOptions = {
      center: new google.maps.LatLng(-41.1606, 172.4060),
      zoom: 5,
      mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      var map = new google.maps.Map(document.getElementById("map"),
      mapOptions);
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script> 


  </head>

  <body>

    <div id="wrapper">
    <header id="header">
      <div class="panel">
        <div class="panel-holder">
          <strong class="logo"><a href="/">NZEscape</a></strong>
          <ul class="add-nav">
            <li><a href="visiting-nz.html">Visiting New Zealand</a></li>
            <li><a href="transport.html">Transport Options</a></li>                                                     
          </ul>
          <div class="search-block">
            <form action="/search/search.php" method="get">
              <fieldset>
                <input class="search-text" type="text" name="query" placeholder="Search" />
              </fieldset>
                           <input type="hidden" name="search" value="1">  
            </form>
            <div class="photo-inf"><span class="txt"><strong>Photo:</strong>{% if page.banner-descr-main %}{{ page.banner-descr-main }}{% endif %}</span> 
              <span class="more"><a href="lake-tekapo.html">More &gt;&gt;</a></span>
            </div>
          </div>
        </div>
      </div>

      <div class="main-image">
        <div class="holder">
          <div data-picture data-alt = "Lake Tekapo" >
            <div data-src = "images/banner-tekapo-1680-1.jpg" ></div>
            <div data-src = "images/banner-tekapo-1440-1.jpg" data-media = "(max-width:1440px)" ></div>
                        <div data-src = "images/banner-tekapo-1280-1.jpg" data-media = "(max-width:1280px)" ></div>
                        <div data-src = "images/banner-tekapo-1024-1.jpg" data-media = "(max-width:1024px)" ></div>
            <div data-src = "images/banner-tekapo-850-1.jpg" data-media = "(max-width:850px)" ></div>
            <div data-src = "images/banner-tekapo-480-1.jpg" data-media = "(max-width:480px)" ></div>
            <!--[if (lt IE 9) & (!IEMobile)]>
            <div data-src="images/banner-tekapo-1440-1.jpg"></div>
            <![endif]-->
            <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
            <noscript><img src="images/banner-tekapo-1440-1.jpg" width="1440" height="430" alt="Lake Tekapo" ></noscript>
          </div> 
        </div>
      </div>
      <nav id="nav">
        <div class="nav-holder">
          <ul>
            <li><a href="destinations.html">Destinations</a>
                <ul class="drop">
                <li><a href="destinations.html#northisland">North Island</a>
                                <ul class="drop">
                    <li><a href="auckland.html">Auckland</a></li>
                                        <li><a href="bay-of-plenty.html">Bay of Plenty</a></li>
                    <li><a href="the-coromandel.html">Coromandel</a></li>
                    <li><a href="eastland-hawkes-bay.html">Eastland and Hawkes Bay</a></li>
                    <li><a href="northland.html">Northland</a></li>
                    <li><a href="rotorua.html">Rotorua</a></li>
                                        <li><a href="ruapehu-attractions.html">Ruapehu</a></li>
                                        <li><a href="taranaki.html">Taranaki</a></li>
                                        <li><a href="taupo.html">Taupo</a></li>
                    <li><a href="waikato.html">Waikato</a></li>
                                        <li><a href="wellington.html">Wellington</a></li>                   
                  </ul>
                                  </li>
                <li>
                  <a href="destinations.html#southisland">South Island</a>
                  <ul class="drop">
                    <li><a href="abel-tasman-golden-bay.html">Abel Tasman / Golden Bay</a></li>
                                        <li><a href="akaroa.html">Akaroa</a></li>
                    <li><a href="blenheim.html">Blenheim</a></li>
                    <li><a href="central-otago.html">Central Otago</a></li>
                    <li><a href="christchurch.html">Christchurch</a></li>
                    <li><a href="dunedin.html">Dunedin</a></li>
                                        <li><a href="fiordland.html">Fiordland</a></li>
                                        <li><a href="franz-josef-fox-glacier.html">Franz Josef and Fox Glacier</a></li>
                                        <li><a href="hanmer-springs.html">Hanmer Springs</a></li>
                    <li><a href="kaikoura.html">Kaikoura</a></li>
                                        <li><a href="lake-tekapo.html">Lake Tekapo</a></li>
                    <li><a href="marlborough-sounds.html">Marlborough Sounds</a></li>
                    <li><a href="mt-cook.html">Mount Cook</a></li>
                                        <li><a href="nelson.html">Nelson</a></li>
                                        <li><a href="oamaru-waitaki-valley.html">Oamaru and Waitaki Valley</a></li>
                    <li><a href="queenstown.html">Queenstown</a></li>          
                    <li><a href="southland.html">Southland</a></li>
                                        <li><a href="twizel-attractions.html">Twizel</a></li>
                                        <li><a href="wanaka.html">Wanaka</a></li>          
                    <li><a href="west-coast.html">West Coast</a></li>
                  </ul>
                </li>
                <li><a href="stewart-island.html">Stewart Island</a></li> 
              </ul>
                        </li>
                        <li><a href="attractions.html">Attractions</a>
              <ul class="drop">
                <li><a href="attractions.html#northisland">North Island</a>
                                <ul class="drop">
                    <li><a href="auckland-attractions.html">Auckland</a></li>
                                        <li><a href="bay-of-plenty-attractions.html">Bay of Plenty</a></li>
                    <li><a href="coromandel-attractions.html">Coromandel</a></li>
                    <li><a href="eastland-hawkes-bay-attractions.html">Eastland and Hawkes Bay</a></li>
                    <li><a href="northland-attractions.html">Northland</a></li>
                    <li><a href="rotorua-attractions.html">Rotorua</a></li>
                                        <li><a href="ruapehu-attractions.html">Ruapehu</a></li>
                                        <li><a href="taranaki-attractions.html">Taranaki</a></li>
                                        <li><a href="taupo-attractions.html">Taupo</a></li>
                    <li><a href="waikato-attractions.html">Waikato</a></li>
                                        <li><a href="wellington-attractions.html">Wellington</a></li>                   
                  </ul>
                                  </li>
                <li>
                  <a href="attractions.html#southisland">South Island</a>
                  <ul class="drop">
                    <li><a href="abel-tasman-attractions.html">Abel Tasman / Golden Bay</a></li>
                                        <li><a href="akaroa-attractions.html">Akaroa</a></li>
                    <li><a href="blenheim-attractions.html">Blenheim</a></li>
                    <li><a href="central-otago-attractions.html">Central Otago</a></li>
                    <li><a href="christchurch-attractions.html">Christchurch</a></li>
                    <li><a href="dunedin-attractions.html">Dunedin</a></li>
                                        <li><a href="fiordland-attractions.html">Fiordland</a></li>
                                        <li><a href="franz-josef-fox-glacier-attractions.html">Franz Josef and Fox Glacier</a></li>
                                        <li><a href="hanmer-springs-attractions.html">Hanmer Springs</a></li>
                    <li><a href="kaikoura-attractions.html">Kaikoura</a></li>
                                        <li><a href="lake-tekapo-attractions.html">Lake Tekapo</a></li>
                    <li><a href="marlborough-sounds-attractions.html">Marlborough Sounds</a></li>
                    <li><a href="mt-cook-attractions.html">Mount Cook</a></li>
                                        <li><a href="nelson-attractions.html">Nelson</a></li>
                                        <li><a href="oamaru-attractions.html">Oamaru and Waitaki Valley</a></li>
                    <li><a href="queenstown-attractions.html">Queenstown</a></li>          
                    <li><a href="southland-attractions.html">Southland</a></li>
                                        <li><a href="twizel-attractions.html">Twizel</a></li>
                                        <li><a href="wanaka-attractions.html">Wanaka</a></li>          
                    <li><a href="west-coast-attractions.html">West Coast</a></li>
                  </ul>
                </li>
                <li><a href="stewart-island-attractions.html">Stewart Island</a></li> 
              </ul>
            </li>
            <li><a href="accommodation.html">Accommodation</a>
                            <ul class="drop">
                <li><a href="accommodation.html#northisland">North Island</a>
                                <ul class="drop">
                    <li><a href="auckland-accommodation.html">Auckland</a></li>
                                        <li><a href="bay-of-plenty-accommodation.html">Bay of Plenty</a></li>
                    <li><a href="coromandel-accommodation.html">Coromandel</a></li>
                    <li><a href="eastland-hawkes-bay-accommodation.html">Eastland and Hawkes Bay</a></li>
                                        <li><a href="taranaki-accommodation.html">New Plymouth</a></li>
                    <li><a href="northland-accommodation.html">Northland</a></li>
                    <li><a href="rotorua-accommodation.html">Rotorua</a></li>
                                        <li><a href="ruapehu-accommodation.html">Ruapehu</a></li>                                        
                                        <li><a href="taupo-accommodation.html">Taupo</a></li>
                    <li><a href="hamilton-accommodation.html">Hamilton / Waikato</a></li>
                                        <li><a href="wellington-accommodation.html">Wellington</a></li>                   
                  </ul>
                                  </li>
                <li>
                  <a href="accommodation.html#southisland">South Island</a>
                  <ul class="drop">
                    <li><a href="abel-tasman-accommodation.html">Abel Tasman</a></li>
                                        <li><a href="akaroa-accommodation.html">Akaroa</a></li>
                    <li><a href="blenheim-accommodation.html">Blenheim</a></li>
                    <li><a href="central-otago-accommodation.html">Central Otago</a></li>
                    <li><a href="christchurch-accommodation.html">Christchurch</a></li>
                    <li><a href="dunedin-accommodation.html">Dunedin</a></li>
                                        <li><a href="fiordland-accommodation.html">Fiordland</a></li>
                                        <li><a href="franz-josef-fox-glacier-accommodation.html">Franz Josef and Fox Glacier</a></li>
                                        <li><a href="hanmer-springs-accommodation.html">Hanmer Springs</a></li>
                    <li><a href="kaikoura-accommodation.html">Kaikoura</a></li>
                                        <li><a href="lake-tekapo-accommodation.html">Lake Tekapo</a></li>
                    <li><a href="marlborough-sounds-accommodation.html">Marlborough Sounds</a></li>
                    <li><a href="mt-cook-accommodation.html">Mount Cook</a></li>
                                        <li><a href="nelson-accommodation.html">Nelson</a></li>
                                        <li><a href="oamaru-accommodation.html">Oamaru and Waitaki Valley</a></li>
                    <li><a href="queenstown-accommodation.html">Queenstown</a></li>          
                    <li><a href="southland-accommodation.html">Southland</a></li>
                                        <li><a href="twizel-accommodation.html">Twizel</a></li>
                                        <li><a href="wanaka-accommodation.html">Wanaka</a></li>          
                    <li><a href="west-coast-accommodation.html">West Coast</a></li>
                  </ul>
                </li>
                <li><a href="stewart-island-accommodation.html">Stewart Island</a></li> 
              </ul>
                        </li>
            <li><a href="tours.html">Tours</a></li>
            <li><a href="campervans.html">Campervans</a></li>
            <li><a href="rental-cars.html">Rental Cars</a></li>
          </ul>
        </div>
      </nav>
          </header>



<div id="main">
      <ul class="breadcrumbs">
        <li><a href="/">Home</a></li>
      </ul> 
      <div class="two-columns">
        <!-- two-columns start -->
        <nav class="menu visible-phone">
          <h3>Explore More</h3>
          <ul>
            <li><a href="destinations.html">Tourism Destinations</a></li>
                      <li><a href="attractions.html">New Zealand Attractions</a></li>
                      <li><a href="accommodation.html">New Zealand Accommodation</a></li>           
                    </ul>
        </nav>
        <div id="content">
          <article>
            <hgroup>
              <h1>Welcome to NZ Escape</h1>
                            <img src="images/pic-queenstown.jpg" alt="Queenstown" class="feature" />


<?php 
include ('includes/social-plugin.php'); 
?>
                            
                            <h2>We are a popular tourism guide featuring a large selection of quality New Zealand attractions, accommodation, and transport providers. If you are visiting our beautiful country and need help with planning your holiday, this is a great place to start.</h2>                       
                         
                         <p>We are a popular New Zealand tourist attractions guide with information on places to visit. Whether it be sightseeing in  <a href="auckland-attractions.html">Auckland</a> or <a href="wellington-attractions.html">Wellington</a>, a scenic boat cruise in <a href="queenstown-attractions.html">Queenstown</a>, experiencing the geothermal wonderland of <a href="rotorua-attractions.html">Rotorua</a>, a fascinating up-close Glacier encounter near <a href="mt-cook-attractions.html">Mt Cook</a>, the raw beauty of Fiordland's <a href="fiordland-attractions.html">Milford Sound</a>, or elsewhere, NZ Escape will help you find memorable things to do. </p>                         
                                                  
  <p>We list a range of quality accommodation providers for you to choose from. Whether you are looking for accommodation in <a href="auckland-accommodation.html">Auckland</a>,  hosted lodges / Bed and Breakfasts in <a href="wanaka-accommodation.html">Wanaka</a> or luxury holiday apartments in <a href="queenstown-accommodation.html">Queenstown</a>, a place to stay in <a href="franz-josef-fox-glacier-accommodation.html">Franz Josef Glacier</a>, quality motels in <a href="hanmer-springs-accommodation.html">Hanmer Springs</a>,  hotels with mountain views at <a href="mt-cook-accommodation.html">Aoraki / Mount Cook</a>, or anywhere else in New Zealand, you will find it here. </p>
  
   
  <p>Our transport guide offers information on <a href="transport.html">getting around New Zealand</a> including <a href="rental-cars.html">rental cars</a>, <a href="campervans.html">campervans</a>, <a href="tours.html">custom tours</a>, domestic airlines, ferry sailings and more. Our tourism guide also provide answers to frequently asked questions about visiting NZ.</p>  
          
            </hgroup>
          
          </article>
                    
                   
        </div>
        <aside id="sidebar">
          <nav class="menu hidden-phone">
            <h3>Explore More</h3>
            <ul>
               <li><a href="destinations.html">Tourism Destinations</a></li>
                           <li><a href="attractions.html">New Zealand Attractions</a></li>
                           <li><a href="accommodation.html">New Zealand Accommodation</a></li>
            </ul>
          </nav>
          
          <div id="map"></div>                    
          
        </aside>
      </div>
    </div>
    <?php 
include ('includes/footer.php'); 
?>

    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>

          <div class="site-info">
            <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
            <p class="site-description">{{ site.description }}</p>
          </div>

          <nav>
            <a href="{{ site.baseurl }}/">Blog</a>
            <a href="{{ site.baseurl }}/about">About</a>
          </nav>
        </header>
      </div>
    </div>

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>
      </div>
    </div>

    {% include analytics.html %}
  

<footer id="footer">
      <div class="footer-holder">
        <p class="copy">&copy; NZ Escape Ltd</p>
        <ul class="links">
          <li><a href="about-us.html">About Us</a></li>
                    <li><a href="contact.html">Contact Us</a></li>
                    <li><a href="advertising.html">Advertising</a></li>
                    <li><a href="sitemap.html">Sitemap</a></li>
        </ul>
      </div>
    </footer>
  </div>
</body>
</html>
  
